<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-7 footer-col">
                <ul class="footer-col-unit"> 
                    <!-- <li> 邮箱：<a href="mailto:{{ site.email }}">{{ site.email }}</a> </li>  -->
                    {% if site.github_username %}
                    <li>
                        {% include icon-github.html username=site.github_username %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div> 
        <div class="small-label"> Copyright Fan Yingying</div>
    </div>
</footer>
